* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#page {
	margin-top: 45px;
}

nav {
	width: 100%;
	display: flex;
	position: fixed;
	justify-content: flex-end;
	background: #d3d3d3;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	z-index: 1;
	border-bottom: 1px solid black;

}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

nav li {
	display: flex;
	justify-content: flex-end;
}

nav li:hover {
	background-color: #F88B26;
}

nav li a {
	text-decoration: none;
	padding-top: 15px;
	padding-left: 30px;
	margin-right: 30px;
	color: black;
}



nav li a:hover {
	color: white;
}

.cont_top {
	background: url(pf4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.cont_top>div {
	background-color: rgba(256, 256, 256, 0.7);
	text-align: center;
	padding: 25px;
	margin-left: 60px;
	border: 1px solid black;
}

.me {
	width: 120px;
	height: 150px;
	z-index: 1;
	border: 1px solid black;
	box-shadow: 5px 5px 5px;
	margin: 20px;
}

h1, h2 {
	font-family: 'Satisfy', cursive;
	color: #d1690e;
	text-align: center;
}

section {
	min-height: 100vh;
	padding-top: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

section p {
	padding: 50px;
}

h2 {
	font-size: 3rem;
}
	
footer {
	background: black;
	height: 50px;
	width: 100%;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer a {
	text-decoration: none;
	color: white;
}